<h1>Monthly Expenses<h1>


<div class="expense-btn">
  <div class="col-md-4">
    <%= link_to "Add Expense", new_expense_path, class: 'btn btn-success' %>
  </div>
</div>

<table style="width:80%">
  <tr>
    <th id='date'>Date</th>
    <th id='cat'>Category</th>
    <th id='desc'>Description</th>
    <th id='amt'>Amount</th>
  </tr>
  <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.date %></td>
      <td><%= expense.category %></td>
      <td><%= expense.description %></td>
      <td><%= expense.amount %></td>
    </tr>
  <% end %>
</table>
